@media only screen and (max-width: 475px) and (min-width: 320px) {
  // #sidebar {
  //   // display: none;
  // }
  .cart_class {
    margin-left: 83px;
    /* margin-bottom: 134px; */
    margin-top: 4px;
    padding: 7px 22px;
    cursor: pointer;
}
.imgDynamic {
  height: 228px;
  width: 100%;
}
.inner_div_price {
  height: 116px;
  width: 200px;
  border-style: none;
  margin-top: 10px;
  text-align: center;
  margin-left: 68px;
  line-height: 0.9em;
}
.pro_pic {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  float: right;
  margin: 3px;
  margin-right: -17px;
}
#product-list {
  float: right;
  margin-top: -976px;
  margin-right: 21px;
}
  .mainSideBar
  {
    display: none;
  }
  .mainDiv {
    padding-top: 967px;
  }
  #icons
  {
    
    height: 50px;
    width: 290px;
    border-style: none;
    float: right;
    margin-right: -5px;
    margin-top: -11%;
  }
  
  .fa-star
  {
    font-size:20px;
    color:gold;
    margin-top: 15px;
    margin-left: 10px;
     margin-right: 5px;
  }
  #logo
  {
    font-family: cursive;
    font-size: 15px;
    color: #fff;
    margin-left: 0%;
  } 
  // #firstChild
  // {
  //   margin-left: 0px;
  // }
  .dropdown
  {
    display: none;
  }
//   .sorting{
//     display: inline ;
//    padding: 25px;
// }
.priceSorting,.sorting
{
  display: inline-block;
}
.priceSorting {
  float: right;
  margin-top: 107px;
  margin-right: 20px;
  /* padding-bottom: 10px; */
  line-height: 1.5em;
}
.sorting
{
    cursor: pointer;
}
}


@media only screen and (max-width: 768px) and (min-width: 475px) {
  #sidebar {
    display: none;
  }
  .mainDiv {
    padding-top: 967px;
  }
  #icons
  {
    
    height: 50px;
    width: 290px;
   
    float: right;
    margin-top: -5px;
    margin-right: 20px;

  }
  
  .pro_pic
  {
    margin-top: 395px;
  }
  
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  #sidebar {
    display: none;
  }
  .mainDiv {
    padding-top: 967px;
  }
  #icons
  {
    
    height: 50px;
    width: 290px;
    
    float: right;
    margin-top: -5px;
    margin-right: 20px;

  }
  .pro_picproduct-list
  {
    margin-top: 395px;
  }
  
}

@media only screen and (max-width: 1350px) and (min-width: 993px) {
  #sidebar {
    display: none;
  }
  .mainDiv {
    padding-top: 967px;
  }
  #icons
  {
    
    height: 50px;
    width: 290px;
    
    float: right;
   margin-top: -5px;
    margin-right: 20px;

  }
}