$colorBlack :#000;
#sidebar{
border-right: 1px solid $colorBlack;

height: 855px;
width: 155px;
margin-top: 101px;
}
.sorting
{
    cursor: pointer;
}
.sideBar_Header
{
    text-align: center;
    padding-top: 20px;
}
#range
{
    margin-left: 10px;
    width: 78px;
}